# Oracle Analytic Functions

Analytical functions are used to do ‘analyze’ data over multiple rows and return the result in the current row. E.g Analytical functions can be used to find out running totals, ranking the rows, do some aggregation on the previous or forthcoming row etc. Though the same functionality can be achieved by using standard aggregate functions and native SQL using joins and subqueries, analytical functions make it much simpler and faster.

# Difference between Analytical Functions and Aggregate Functions

_Aggregate functions group the rows and return the output for the entire result set. However, analytical functions return the aggregated output but they do not group the result set. They return the value for each row in the result set._

In [ ]:
SELECT deptno,COUNT(*) dept_cnt
FROM emp
GROUP BY deptno;

# ![title](aggregate_function.png)

In [ ]:
SELECT deptno, 
COUNT(*) OVER (PARTITION BY 
deptno) DEPT_COUNT
FROM emp

# ![title](analytical_function.png)

# SYNTAX
Function(arg1,…, argn) OVER ( [PARTITION BY <…>] [ORDER BY <….>] [<window_clause>] )

**OVER:**

The scope of an analytical function is defined in an OVER clause. OVER is compulsory for all analytical functions. If you do not give any arguments after OVER, it will assume the scope as ALL.

**PARTITION BY:**

As the aggregate functions use GROUP BY to group rows, analytical functions use PARTITION BY.

**ORDER BY:**

It is used to specify the order of records in the selected partition. This is different from the ORDER BY clause of the main query which comes after WHERE.

**Window Clause:**

The partition clause is not the only method of limiting the scope of an analytical function. We can use “ROWS BETWEEN” or “RANGE BETWEEN” clause to define an additional scope.

# Top 11 Oracle Analytic Functions

# 1. RANK

It is an analytical function that is used to calculate the rank of a value in an ordered set of values. One important point that makes it different from DENSE_RANK is that the ranks from this function may not be consecutive numbers.

# ![title](RANK.png)

# 2. DENSE_RANK

It is a type of analytic function that calculates the rank of a row. Unlike the RANK function this function returns rank as consecutive integers.

In [ ]:
SELECT
DNAME,
DENSE_RANK () OVER (
ORDER BY DNAME)
DEPT_RANK
FROM EMP
inner join DEPT on EMP.DEPTNO=DEPT.DEPTNO;

# ![title](DENSE_RANK.png)

# 3. ROW_NUMBER

It is an analytical function and unlike NTILE this function assigns a unique sequential number to each row of the result set.

In [ ]:
SELECT
ROW_NUMBER() OVER(
ORDER BY empno 
) row_number,
empno,
ename,
job
FROM
EMP;

# ![title](ROW_NUMBER.png)

# 4. CUME_DIST

It is also an analytical function that is as the name suggests used to calculate the cumulative distribution of a certain value among a set of values.

In [ ]:
SELECT
empno,
ename,
sal,
ROUND(cume_dist() OVER (ORDER BY sal) * 100,2) || '%' cumulative_dist
FROM
EMP;

# ![title](CUME_DIST.png)

# 5. PERCENT_RANK

It is an analytical function that as the name suggests is used to calculate a percentage rank for a value among an ordered set of values.

In [ ]:
SELECT
empno,
ename,
sal,
ROUND(PERCENT_RANK() OVER (ORDER BY sal) * 100,2) || '%' percent_rank
FROM
EMP;

# ![title](PERCENT_RANK.png)

# 6. FIRST_VALUE

It is an analytic function as the name suggests is used to provide the value of the first row in an ordered set of rows.

In [ ]:
select empno ,
ename,
sal,
DNAME,
FIRST_VALUE(sal)
OVER(PARTITION BY DNAME
ORDER BY sal
)FIRST_VALUE
from EMP
inner join DEPT on EMP.DEPTNO=DEPT.DEPTNO;

# ![title](FIRST_VALUE.png)

# 7. LAST_VALUE

It is also an analytical function which is used to get the value of the last row in an ordered set of rows.

In [ ]:
select empno ,
ename,
sal,
DNAME,
LAST_VALUE(sal)
OVER(PARTITION BY DNAME
ORDER BY sal
RANGE BETWEEN UNBOUNDED PRECEDING AND
UNBOUNDED FOLLOWING)LAST_VALUE
from EMP
inner join DEPT on EMP.DEPTNO=DEPT.DEPTNO;

# ![title](LAST_VALUE.png)

# 8. LEAD

It is a type of analytic function that allows us to access a following row from the current row based on an offset value without using self join.

In [ ]:
SELECT
empno ,
ename,
sal,
DNAME,
LEAD(sal) OVER (
ORDER BY empno
) following_employee_age
FROM
EMP
inner join DEPT on EMP.DEPTNO=DEPT.DEPTNO
WHERE
DNAME = 'SALES';

# ![title](LEAD.png)

# 9. LAG

It is a type of analytic function that allows us to access a prior row from the current row based on an offset value without using self join.

In [ ]:
SELECT
empno ,
ename,
sal,
DNAME,
LAG(sal) OVER (
ORDER BY empno
) LAG
FROM
EMP
inner join DEPT on EMP.DEPTNO=DEPT.DEPTNO
WHERE
DNAME = 'SALES';

# ![title](LAG.png)

# 10. Nth Value

It is an analytic function and as the name suggests that it returns the Nth value among set of values.

In [ ]:
SELECT
empno ,
ename,
sal,
DNAME,
NTH_VALUE(sal,2) OVER (
PARTITION BY DNAME
ORDER BY sal DESC
RANGE BETWEEN
UNBOUNDED PRECEDING AND
UNBOUNDED FOLLOWING
) AS NTH_VALUE
FROM
EMP
inner join DEPT on EMP.DEPTNO=DEPT.DEPTNO

# ![title](NTH_VALUE.png)

# 11. NTILE

It is an analytical function that divides an ordered set into buckets and assigns a bucket number to each row.

In [ ]:
SELECT
empno ,
ename,
sal,
DNAME,
NTILE(4) OVER(
ORDER BY sal DESC
) NTILE
FROM
EMP
inner join DEPT on EMP.DEPTNO=DEPT.DEPTNO

# ![title](NTILE.png)